<h1>Hello posts new</h1>
<%= form_for :posts do |f| %>
<p>
  <%= f.label :header %><br>
  <%= f.text_field :header %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
</p>
<%= f.submit %>
  </p>

<% end %>
