<h1>hello ece</h1>
<%= @post %>
<br>
<%= @post.id %>
<br>
<%= @post.header %>
<br>
<%= @post.body %>
<br>
<%= @post.created_at %>
<br>
<%= @post.updated_at %>
<br>
<% @post.comments.each do |comment| %>
<p>
  <%= comment.body %>
</p>
<% end %>
<br>
<h1>Comment ekle</h1>
<%= form_for([@post, @post.comments.build]) do |f|  %>
<br>
<%= f.text_field :body %>
<br>
<%= f.submit %>
<br>
<% end %>
