<h1>hello ece</h1>
<%= @post %>
<br>
<%= @post.id %>
<br>
<%= @post.header %>
<br>
<%= @post.body %>
<br>
<%= @post.created_at %>
<br>
<%= @post.updated_at %>
<br>

<h1>Comments</h1>
<%= render @post.comments %>
<%= render 'comments/form' %>
